{% extends 'shared/index.html' %}

{% block title %}
    ورود
{% endblock %}
{% block body %}
<body id="contact" class="page">


    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="login-form"><!--sign up form-->
                        <h2>فراموشی رمز عبور</h2>
                        <form method="post" action="{% url 'user:forget_password' %}">
                            {% csrf_token %}
                            {{ forget_form }}



                            <button type="submit" class="btn btn-default">فراموشی رمز عبور</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}