{% extends 'shared/index.html' %}

{% block title %}
    register
{% endblock %}

{% block body %}
    <body id="contact" class="page">
<div class="page-heading text-center">
    <div class="container">
      <h2> ثبت نام </h2>
    </div>
  </div>
  <div class="container success">
    <h4> ثبت نام کاربر</h4>
    <form method="post" class="contact">
        {% csrf_token %}
      <div class="row">
                <div class="col-sm-6 col-md-offset-3">
						<form method="post" action="{% url 'user:register' %}" >
                            {% csrf_token %}
                            {{ register_form }}
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="pull-right">
            <button type="submit" name="submit" class="greybutton">ارسال</button>
          </div>
        </div>
      </div>
    </form>
  </div>
      </div></form></div>
{% endblock %}
