{% extends 'shared/index.html' %}

{% block title %}
    welcome
{% endblock %}

{% block body %}
    <body id="index3" class="homepage">
{% include "shared/homepage_header_component.html" %}
<main>
  <div class="container featured text-center">
    <div class="col-md-4">
      <div class="feature">
        <div class="img-container-bg"> <img src="/static/assets/img/features/feature-2.png" class="make-center" alt="Feature"> </div>
        <h6>در هرجا یادبگیرید</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        <a href="#" class="readmore"><span>خواندن ادامه&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <div class="img-container-bg"> <img src="/static/assets/img/features/feature-3.png" class="make-center" alt="Feature"> </div>
        <h6>پشتیبانی از همه دستگاه ها</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        <a href="#" class="readmore"><span>خواندن ادامه&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <div class="img-container-bg"> <img src="/static/assets/img/features/feature-3.png" class="make-center" alt="Feature"> </div>
        <h6>یادگیری توانایی های جدید روزانه</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        <a href="#" class="readmore"><span>خواندن ادامه&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
    </div>
  </div>
  <div class="container index-3-categories text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>برترین آموزش های تصویری مائده لرن را کاوش کنید</h3>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-6">
        <div class="category-with-bg cat1">
          <h5>سیستم مدیریت محتوا (CMS)</h5>
          <p>آموزش برای سیستم های مختلف مثل وردپرس</p>
          <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="category-with-bg cat2">
          <h5>واسط کاربری / طراح UX</h5>
          <p>کارگاه طراحی UX</p>
          <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="category-with-bg cat3">
          <h5>تایپوگرافی و نویسندگی</h5>
          <p>کار با ایندیزاین</p>
          <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="category-with-bg cat4">
          <h5>ناشر الکترونیکی</h5>
          <p>یادبگیرید چگونه آنلاین نشر کنید</p>
          <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="category-with-bg cat5">
          <h5>لایه ها برای پرینت طراحی</h5>
          <p>ایلستریتور برای طراحی</p>
          <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="category-with-bg cat6">
          <h5>سئو (SEO)</h5>
          <p>بهینه سازی برای موتور های جستجو</p>
          <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="container pros">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3>برخی از حرفه ای ترین مدرسان را بررسی کنید</h3>
        <p> همه مدرسین در مائده لرن دارای گوهینامه تایید شده و معتبر هستند. مدرسین مائده لرن از مراحل مختلف پذیرش گذشته اند و دانش آنها توسط مائده لرن کاملا تایید شده است. هدف ما افزایش کیفیت ویدیو های آموزشی و درنتیجه رضایت شما دربرابر خریدتان است. </p>
        <a href="#" class="blueplay">بررسی همه مدرسان</a> </div>
    </div>
    <div class="row text-center">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="teacher">
          <div class="imgcontainer"> <img src="/static/assets/img/avatar/7.png" alt="Avatar">
            <div class="overlay"> <img src="/static/assets/img/profile.png" alt="Profile">
              <p>8 ویدیو</p>
            </div>
          </div>
          <a href="#">آناهیتا قربانی</a>
          <p>متفکر</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="teacher">
          <div class="imgcontainer"> <img src="/static/assets/img/avatar/8.png" alt="Avatar">
            <div class="overlay"> <img src="/static/assets/img/profile.png" alt="Profile">
              <p>8 ویدیو</p>
            </div>
          </div>
          <a href="#">پریسا فلاح</a>
          <p>وبلاگ نویس</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="teacher">
          <div class="imgcontainer"> <img src="/static/assets/img/avatar/9.png" alt="Avatar">
            <div class="overlay"> <img src="/static/assets/img/profile.png" alt="Profile">
              <p>8 ویدیو</p>
            </div>
          </div>
          <a href="#">غلام عباسی</a>
          <p>نویسنده</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="teacher">
          <div class="imgcontainer"> <img src="/static/assets/img/avatar/3.png" alt="Avatar">
            <div class="overlay"> <img src="/static/assets/img/profile.png" alt="Profile">
              <p>8 ویدیو</p>
            </div>
          </div>
          <a href="#">حامد بازرگان</a>
          <p>مدرس زبان</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="teacher">
          <div class="imgcontainer"> <img src="/static/assets/img/avatar/4.png" alt="Avatar">
            <div class="overlay"> <img src="/static/assets/img/profile.png" alt="Profile">
              <p>8 ویدیو</p>
            </div>
          </div>
          <a href="#">اعظم مظفری</a>
          <p>مدیر تبلیغات</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="teacher">
          <div class="imgcontainer"> <img src="/static/assets/img/avatar/6.png" alt="Avatar">
            <div class="overlay"> <img src="/static/assets/img/profile.png" alt="Profile">
              <p>8 ویدیو</p>
            </div>
          </div>
          <a href="#">حمید جهانبخش</a>
          <p>سئو کار</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container popular">
    <div class="row">
      <div class="col-sm-12 text-center margin-top-50 wow fadeInUpBig" data-wow-delay="0.5s">
        <h3>محبوب ترین آموزش های آنلاین</h3>
        <div class="scrolldown-placeholder"> <a href="#" class="popular-scrolldown"><i class="zmdi zmdi-chevron-down zmdi-hc-lg"></i></a> </div>
      </div>
    </div>
    <div class="row tutorials">
      <div class="col-md-4">
        <div class="tutorial wow fadeInRightBig" data-wow-delay="0.8s"> <img src="/static/assets/img/popular/1.jpg" class="resp-img" alt="Tutorial">
          <div class="tutorial-details">
            <h6>چگونه یک طراح UX شویم</h6>
            <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 درس</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15 ساعت</span></p>
            <p class="abs">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که.</p>
            <a href="#" class="greybutton">نمایش دوره</a> </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tutorial wow fadeInRightBig" data-wow-delay="1.1s"> <img src="/static/assets/img/popular/2.jpg" class="resp-img" alt="Tutorial">
          <div class="tutorial-details">
            <h6>8 گام به راه اندازی استارت اپ خودتان</h6>
            <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 درس</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32 ساعت</span></p>
            <p class="abs">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که.</p>
            <a href="#" class="greybutton">نمایش دوره</a> </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tutorial wow fadeInRightBig" data-wow-delay="1.4s"> <img src="/static/assets/img/popular/3.jpg" class="resp-img" alt="Tutorial">
          <div class="tutorial-details">
            <h6>ارتباطات تجاری برای بازاریابان</h6>
            <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>28 درس</span><span class="duration"><i class="zmdi zmdi-time"></i>6:08 ساعت</span></p>
            <p class="abs">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که.</p>
            <a href="#" class="greybutton">نمایش دوره</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid signup text-center">
    <div class="row">
      <div class="col-sm-12">
        <p>آموزش آنلاین در هرکجا</p>
        <h4>آیا شما آماده شروع یادگیری هستید؟</h4>
        <a href="#" class="bluebutton">هم اکنون ثبت نام کنید</a> </div>
    </div>
  </div>
  <div class="container pricings">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 float-right">
        <div class="plan">
          <p class="ribbon">محبوب ترین</p>
          <p class="price">45</p>
          <p class="crew">ابتدایی</p>
          <div class="plan-details">
            <p>دسترسی کامل به دوره ها</p>
            <p>خرید آنلاین</p>
            <p>رزرو آنلاین کلاس</p>
            <p>دسترسی کامل به کتابخانه</p>
            <p>دسترسی به فایل های پروژه</p>
          </div>
          <a href="#"><i class="zmdi zmdi-arrow-left"></i>تست رایگان</a> <a href="#"><i class="zmdi zmdi-arrow-left"></i>سفارش دهید</a> </div>
      </div>
      <div class="col-md-3 col-sm-6 float-right">
        <div class="plan mostpopular">
          <p class="ribbon">محبوب ترین</p>
          <p class="price">59</p>
          <p class="crew">متوسط</p>
          <div class="plan-details">
            <p>دسترسی کامل به دوره ها</p>
            <p>خرید آنلاین</p>
            <p>رزرو آنلاین کلاس</p>
            <p>دسترسی کامل به کتابخانه</p>
            <p>دسترسی به فایل های پروژه</p>
          </div>
          <a href="#"><i class="zmdi zmdi-arrow-left"></i>تست رایگان</a> <a href="#"><i class="zmdi zmdi-arrow-left"></i>سفارش دهید</a> </div>
      </div>
      <div class="col-md-3 col-sm-6 float-right">
        <div class="plan">
          <p class="ribbon">محبوب ترین</p>
          <p class="price">99</p>
          <p class="crew">تخصصی</p>
          <div class="plan-details">
            <p>دسترسی کامل به دوره ها</p>
            <p>خرید آنلاین</p>
            <p>رزرو آنلاین کلاس</p>
            <p>دسترسی کامل به کتابخانه</p>
            <p>دسترسی به فایل های پروژه</p>
          </div>
          <a href="#"><i class="zmdi zmdi-arrow-left"></i>تست رایگان</a> <a href="#"><i class="zmdi zmdi-arrow-left"></i>سفارش دهید</a> </div>
      </div>
      <div class="col-md-3 col-sm-6 float-right">
        <div class="plan">
          <p class="ribbon">محبوب ترین</p>
          <p class="price">119</p>
          <p class="crew">فوق حرفه ای</p>
          <div class="plan-details">
            <p>دسترسی کامل به دوره ها</p>
            <p>خرید آنلاین</p>
            <p>رزرو آنلاین کلاس</p>
            <p>دسترسی کامل به کتابخانه</p>
            <p>دسترسی به فایل های پروژه</p>
          </div>
          <a href="#"><i class="zmdi zmdi-arrow-left"></i>تست رایگان</a> <a href="#"><i class="zmdi zmdi-arrow-left"></i>سفارش دهید</a> </div>
      </div>
    </div>
  </div>
  <div class="container whyus">
    <div class="row text-center">
      <div class="col-sm-12">
        <h3>چرا مائده لرن را انتخاب کنید</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>+100 آموزش رایگان</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
      </div>
      <div class="col-md-4">
        <h6>یادگیری از مدرسان پیشرفته و تایید شده</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
      </div>
      <div class="col-md-4">
        <h6>تبدیل شدن به یک متخصص در کسب و کارتان</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
      </div>
    </div>
  </div>
</main>
 </body>
{% endblock %}