{% extends 'shared/index.html' %}
{% block title %}
    مائده لرن چگونه کار می کند؟
{% endblock %}
{% block body %}
<body id="how-it-works" class="page">
    <main>
  <div class="page-heading text-center">
    <div class="container">
      <h2>مائده لرن چگونه کار می کند؟</h2>
    </div>
  </div>
  <div class="container success">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3>در 3 مرحله ساده به موفقیت خود دست پیدا کنید</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="step clearfix"> <a class="pull-left" href="#">1</a>
          <h6>در مائده لرن ثبت نام کنید</h6>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
        </div>
        <div class="step clearfix"> <a class="pull-left" href="#">2</a>
          <h6>دوره مورد علاقه خودتان را انتخاب کنید</h6>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
        </div>
        <div class="step clearfix"> <a class="pull-left" href="#">3</a>
          <h6>از آموزش ها لذت ببرید</h6>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="whyus">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="wow fadeInLeftBig" data-wow-delay="0s" data-wow-duration="2s">چرا مائده لرن را انتخاب کنید</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 float-right">
          <h6> +100 آموزش رایگان</h6>
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
        </div>
        <div class="col-md-8 col-sm-12 float-right">
          <h6>یادگیری از مدرسان پیشرفته و تایید شده</h6>
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
        </div>
        <div class="col-md-8 col-sm-12 float-right">
          <h6>تبدیل شدن به یک متخصص در کسب و کارتان</h6>
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ready">
    <div class="container">
      <div class="row"> <a href="#" class="whitebutton">هم اکنون ثبت نام کنید</a>
        <p>آموزش آنلاین در هرکجا</p>
        <h4>آیا شما آماده شروع یادگیری هستید؟</h4>
      </div>
    </div>
  </div>
</main>
{% endblock %}