  <header>
  <ul class="pull-right lang">
    <li class="selected"><a href="#">EN</a></li>
    <li><a href="#">DE</a></li>
    <li><a href="#">FR</a></li>
    <li><a href="#">PO</a></li>
  </ul>
  <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p class="pretitle">آموزش آنلاین ویدیویی</p>
          <h2 class="wow pulse">توانایی هاتو افزایش بده</h2>
          <p>روزانه هرچیز جدیدی که میخواهید را میتوانید در مائده لرن پیدا کنید و فرا بگیرید.</p>
          <a href="#" class="bluebutton wow fadeInDown">ثبت نام کنید و یادگیری را آغاز کنید.</a> </div>
      </div>
    </div>
  </div>
  <ul class="rslides-header">
    <li><img src="/static/assets/img/slide-2.jpg" class="resp-img" alt="Slide"></li>
    <li><img src="/static/assets/img/slide-1.jpg" class="resp-img" alt="Slide"></li>
  </ul>
  <a href="#" class="scrolldown"><span></span></a> </header>
