
{%  extends 'shared/index.html' %}

{% block title %}
جزییات محصول
{% endblock %}

{% block body %}
    {{  <h1>Shopping Cart</h1>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
            <tr>
                <td>{{ item.course__name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.course__price }}</td>
                <td>{{ item.get_total_price }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total Price:</td>
            <td>{{ total_price }}</td>
        </tr>
    </tfoot>
</table>}}
{% endblock%}