{% extends 'shared/index.html' %}
{% block title %}
    ارتباط با ما
{% endblock %}
{% block body %}
<body id="contact" class="page">
<main>
  <div class="page-heading text-center">
    <div class="container">
      <h2>تماس با ما</h2>
    </div>
  </div>
  <div class="container success">
    <h4>با ما در تماس باشید</h4>
    <form method="post" class="contact">
        {% csrf_token %}
      <div class="row">
        <div class="col-sm-3">
        {{ form.full_name.label_tag }}
            {{ form.full_name }}
            {{ form.full_name.errors }}
        </div>
        <div class="col-sm-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="col-sm-3">
            {{ form.site.label_tag }}
            {{ form.site }}
            {{ form.site.errors }}
        </div>
        <div class="col-sm-3">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            {{ form.message.label_tag }}
            {{ form.message }}
            {{ form.message.errors }}
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="pull-right">
            <button type="submit" name="submit" class="greybutton">ارسال</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>

</body>
{% endblock %}