<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h1 class="logo float-none"><a class="no-text-decoration-white" href="index.html">مائده لرن</a></h1>
        <ul class="contactinfo">
          <li class="address"><strong>آدرس: </strong>تهران , خیابان جمهوری , پلاک , مجتمع یاس , طبقه هفتم , واحد دوم , شرکت مائده لرن</li>
          <li class="phone"><strong>تلفن تماس: </strong>+989109999999</li>
          <li class="email"><strong>پست الکترونیکی: </strong> info@maedelearn.ir</li>
        </ul>
        <ul class="social">
          <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
          <li> <a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
          <li> <a href="#"><i class="zmdi zmdi-google-old"></i></a></li>
          <li> <a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
          <li> <a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
          <li> <a href="#"><i class="zmdi zmdi-rss"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <h6>راهنمای سایت</h6>
        <ul class="information">
          <li><a href="#">راهنما و سوالات متداول</a></li>
          <li><a href="#">دوره های ویدویی</a></li>
          <li><a href="#">سفارش آنلاین</a></li>
          <li><a href="#">پشتیبانی آنلاین</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <h6>اطلاعات</h6>
        <ul class="information">
          <li><a href="#">درباره ما</a></li>
          <li><a href="#">خدمات ما</a></li>
          <li><a href="#">تاریخچه خرید</a></li>
          <li><a href="#">اطلاعات</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <h6>حساب من</h6>
        <ul class="information">
          <li><a href="#">پلان ها و قیمت ها</a></li>
          <li><a href="#">مورد علاقه ها</a></li>
          <li><a href="#">اطلاعات شخصی</a></li>
          <li><a href="#">ورود</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h6>دسترسی سریع</h6>
        <ul class="information">
          <li><a href="#">آموزش های ویدیویی</a></li>
          <li><a href="#">دوره های آنلاین</a></li>
          <li><a href="#">مدرس شوید</a></li>
          <li><a href="#">تماس با ما</a></li>
        </ul>
      </div>
    </div>
    <div class="row botbar">
      <div class="col-sm-7 float-right">
        <p class="copyright">&copy;      کپی رایت 2017 مائده لرن - تمامی حقوق برای شرکت آموزشی مائده لرن محفوظ است.</p>
      </div>
      <div class="col-sm-5">
        <ul class="pull-right payments">
          <li><a href="#"><img src="/static/assets/img/payments/1.png" alt="Payment"></a></li>
          <li><a href="#"><img src="/static/assets/img/payments/2.png" alt="Payment"></a></li>
          <li><a href="#"><img src="/static/assets/img/payments/3.png" alt="Payment"></a></li>
          <li><a href="#"><img src="/static/assets/img/payments/4.png" alt="Payment"></a></li>
          <li><a href="#"><img src="/static/assets/img/payments/5.png" alt="Payment"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer><!--/Footer-->