
<header>
  <ul class="pull-right lang">
    <li class="selected"><a href="#">EN</a></li>
    <li><a href="#">DE</a></li>
    <li><a href="#">FR</a></li>
    <li><a href="#">PO</a></li>
  </ul>
  <div class="container">
    <div id="topbar">
      <div class="pull-right">
        <div class="navigation">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <i class="zmdi zmdi-menu zmdi-hc-lg"></i> </button>
          <nav class="collapse navbar-collapse" id="myNavbar">
            <ul>
              <li class="active"> <a href="{% url "home:home_page" %}">خانه</a>
                <ul class="submenu submenu-list">
                  <li><a href="index.html">صفحه اصلی 1</a></li>
                  <li><a href="index2.html">صفحه اصلی 2</a></li>
                  <li><a href="index3.html">صفحه اصلی 3</a></li>
                </ul>
              </li>
              <li> <a href="#">دوره های آنلاین</a>
                <ul class="submenu clearfix">
                  <li>
                    <ul class="sub-column">
                      <li><a href="#">همه دوره ها (817)</a></li>
                      <li><a href="#">کسب و کار ها (18)</a></li>
                      <li><a href="#">سیستم مدیریت محتوا (14)</a></li>
                      <li><a href="#">طراحی (17)</a></li>
                      <li><a href="#">توسعه (23)</a></li>
                      <li><a href="#">علوم انسانی (19)</a></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="sub-column">
                      <li><a href="#">پزشکی (8)</a></li>
                      <li><a href="#">موزیک (47)</a></li>
                      <li><a href="#">فتوگرافی (68)</a></li>
                      <li><a href="#">فتوشاپ (87)</a></li>
                      <li><a href="#">ای تی و نرم افزار (41)</a></li>
                      <li><a href="#">سبک زندگی (54)</a></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="sub-column">
                      <li><a href="#">شیمی (54)</a></li>
                      <li><a href="#">زبان (83)</a></li>
                      <li><a href="#">کسب و کار (52)</a></li>
                      <li><a href="#">سئو (39)</a></li>
                      <li><a href="#">بازاریابی (44)</a></li>
                      <li><a href="#">ارائه ویدیویی (33)</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li> <a href="#">دسته بندی ها</a>
                <ul class="submenu submenu-list">
                  <li><a href="categories.html">دسته بندی ها</a></li>
                  <li><a href="courses-3-col.html">دوره ها 3 ستونه</a></li>
                  <li><a href="courses-4-col.html">دوره ها 4 ستونه</a></li>
                  <li><a href="courses-gallery.html">گالری دوره ها</a></li>
                  <li><a href="course-single.html">دوره تکی</a></li>
                  <li><a href="courses-list.html">لیست دوره ها</a></li>
                  <li><a href="courses-sidebar.html">دوره ها با سایدبار</a></li>
                </ul>
              </li>
              <li> <a href="#">پشتیبانی</a>
                <ul class="submenu submenu-list">
                  <li><a href="{% url "backup:info-page" %}">چگونه کار میکند</a></li>
                  <li><a href="pricing.html">قیمت ها</a></li>
                  <li><a href="services-1.html">خدمات 1</a></li>
                  <li><a href="services-2.html">خدمات 2</a></li>
                  <li><a href="teachers.html">مدرسین</a></li>
                  <li><a href="teacher-single.html">مدرسین تکی</a></li>
                  <li><a href="blog-single.html">نوشته تکی</a></li>
                  <li><a href="blog.html">بلاگ</a></li>
                </ul>
              </li>
              <li><a href="{% url "contact:contact-us" %}">تماس با ما</a></li>
            </ul>
          </nav>
        </div>
          {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                    <a href="/admin" class="register"> پنل ادمین</a>
              {% endif %}
              <a href="{% url "user:logout" %}" class="register">خروج</a>
                      <div class="cart"> <a href="#"><i class="zmdi zmdi-case zmdi-hc-lg"></i><span>2</span></a>
          <div class="cart-container">
            <h6>سبد خرید (2)</h6>
            <div class="cart-item clearfix"> <img src="/static/assets/img/cart1.jpg" alt="cart item" class="pull-left"> <a href="#">چگونه یک طراح UX شویم</a>
              <p class="quantity">1x $35,500</p>
              <button class="remove">x حذف</button>
            </div>
            <div class="cart-item clearfix"> <img src="/static/assets/img/cart2.jpg" alt="cart item" class="pull-left"> <a href="#">8 گام به راه اندازی استارت اپ خودتان</a>
              <p class="quantity">1x $18,700</p>
              <button class="remove">x حذف</button>
            </div>
            <div class="cart-controls text-center"> <a href="#" class="checkout">پرداخت</a> <a href="#" class="viewcart">نمایش سبد</a> <a href="#" class="addcourse">افزودن دوره</a> </div>
          </div>
        </div>
          {% else %}
        <a href="{% url 'user:login' %}" class="blueplay login">ورود</a>
          <a href="{% url "user:register" %}" class="register">ثبت نام</a>
            {% endif %}
        <div class="search"> <a href="#" class="search"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
          <div class="search-something">
            <input type="search" placeholder="دنبال چه چیزی هستید؟">
            <a href="#"><i class="zmdi zmdi-search"></i></a> </div>
        </div>
      </div>
      <h1 class="logo"><a class="no-text-decoration-white" href="{% url "home:home_page" %}">
        <h1>مائده لرن</h1>
        </a></h1>
    </div>
  </div>
</header>