{% extends 'shared/index.html' %}
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Sign In Form</title>-->
<!--</head>-->
<!--<body>-->
<!--	<h1>Sign In</h1>-->
<!--	<form method="POST" class="post-form" >{% csrf_token %}-->
<!--		<label for="first_name">First Name:</label>-->
<!--		<input type="text" id="first_name" name="first_name"><br>-->

<!--		<label for="last_name">Last Name:</label>-->
<!--		<input type="text" id="last_name" name="last_name"><br>-->

<!--		<label for="email">Email:</label>-->
<!--		<input type="email" id="email" name="email"><br>-->

<!--		<label for="username">Username:</label>-->
<!--		<input type="text" id="username" name="username"><br>-->

<!--		<label for="password">Password:</label>-->
<!--		<input type="password" id="password" name="password"><br>-->

<!--		<label for="phonenumber">Phone Number:</label>-->
<!--		<input type="tel" id="phonenumber" name="phonenumber"><br>-->


<!--		<input type="submit" value="Sign In">-->
<!--	</form>-->
<!--</body>-->
<!--</html>-->
<!--<h2>New User</h2>-->
<!--<form method="POST" class="post-form">{% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit" class="save btn btn-default">Save</button>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--<h2>New Person</h2>-->

<!--<form method="GET">-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <button type="submit">save</button>-->
<!--</form>-->










{% block title %}
    عضویت
{% endblock %}
{% block body %}

	 <div id="contact-page" class="container">
    	<div class="bg">
    		<div class="row">
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">همین حالا عضو شوید </h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            {% csrf_token %}


                             <div class="form-group col-md-6">
                                {{ form.last_name.label_tag}}
                                {{ form.last_name }}
                                {{ form.last_name.errors }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.first_name.label_tag}}
                                {{ form.first_name }}
                                {{ form.first_name.errors }}
                            </div>

				            <div class="form-group col-md-6">
                                {{ form.email.label_tag}}
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.phonenumber.label_tag}}
                                {{ form.phonenumber }}
                                {{ form.phonenumber.errors }}
                            </div>

                            <div class="form-group col-md-12 ">
                                {{ form.username.label_tag}}
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group col-md-12 ">
                                {{ form.password.label_tag}}
                                {{ form.password }}
                                {{ form.password.errors  }}
                            </div>

{#                            <div class="form-group col-md-6">#}
{#				                <input type="text" name="first_name" class="form-control" required="required" placeholder="نام">#}
{#				            </div>#}
{#                            <div class="form-group col-md-6">#}
{#				                <input type="text" name="last_name" class="form-control" required="required" placeholder="نام خانوادگی">#}
{#				            </div>#}
{#				            <div class="form-group col-md-6">#}
{#				                <input type="email" name="email" class="form-control" required="required" placeholder="ایمیـل">#}
{#				            </div>#}
{#				            <div class="form-group col-md-12">#}
{#				                <input type="tel" name="phonenumber" class="form-control" required="required" placeholder="تلفن همراه">#}
{#				            </div>#}
{#                            <div class="form-group col-md-12">#}
{#				                <input type="text" name="username" class="form-control" required="required" placeholder="نام کاربری">#}
{#				            </div>#}
{#                            <div class="form-group col-md-12">#}
{#				                <input type="password" name="password" class="form-control" required="required" placeholder="رمز عبور">#}
{#				            </div>#}
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">
			            </div>
				        </form>
	    			</div>
	    		</div>
            </div>
    	</div>
     </div>
</div>

{% endblock %}




























